# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: May 1, 2021, 8:27 AM
description=HTTP proxy for using Nexcloud
i2cpHost=127.0.0.1
i2cpPort=7654
interface=127.0.0.1
listenPort=7671
name=I2P HTTP Proxy
option.i2cp.closeIdleTime=1800000
option.i2cp.closeOnIdle=false
option.i2cp.destination.sigType=7
option.i2cp.leaseSetEncType=4,0
option.i2cp.newDestOnResume=false
option.i2cp.reduceIdleTime=900000
option.i2cp.reduceOnIdle=true
option.i2cp.reduceQuantity=1
option.i2p.streaming.connectDelay=1000
option.i2ptunnel.httpclient.SSLOutproxies=false.i2p
option.inbound.backupQuantity=3
option.inbound.length=2
option.inbound.lengthVariance=0
option.inbound.nickname=shared clients
option.inbound.quantity=3
option.outbound.backupQuantity=3
option.outbound.length=2
option.outbound.lengthVariance=0
option.outbound.nickname=shared clients
option.outbound.priority=10
option.outbound.quantity=3
option.persistentClientKey=false
privKeyFile=nextcloud-privKeys.dat
proxyList=false.i2p
sharedClient=false
startOnLoad=true
type=httpclient
